<head>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != "dataLayer" ? "&l=" + l : "";
			j.async = true;
			j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, "script", "dataLayer", "GTM-WT5FT59");
	</script>
	<!-- End Google Tag Manager -->
	<title>{{ title }}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<meta name="description" content="{{ metaname }}" />
	<meta
		name="keywords"
		content="website design, creative freelancer, creative consultant, digital creative, full service creative design, start up web design freelancer, web design freelancer, brand consultancy, web  designer near me, local web designer Edinburgh, local web designer West Lothian"
	/>
	<link
		rel="stylesheet"
		type="text/css"
		href="/assets/stylesheets/site.min.css"
	/>
	<script
		defer
		src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"
	></script>
	<script defer src="/assets/javascripts/site.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="preload" href="/assets/images/HeadWave.svg" as="image" />
	<link rel="preload" href="/assets/images/linkedin.svg" as="image" />
	<link rel="preload" href="/assets/images/menu-24px.svg" as="image" />
	<link
		rel="preload"
		href="/assets/font/HelveticaNeueLTStd-Bd.woff2"
		as="font"
		type="font/woff2"
		crossorigin="anonymous"
	/>
	<link
		rel="preload"
		href="/assets/font/HelveticaNeueLTStd-Roman.woff2"
		as="font"
		type="font/woff2"
		crossorigin="anonymous"
	/>
	<link
		rel="preload"
		href="/assets/font/HelveticaNeueLTStd-Hv.woff2"
		as="font"
		type="font/woff2"
		crossorigin="anonymous"
	/>
	<link
		rel="preload"
		href="/assets/font/HelveticaNeueLTStd-Md.woff2"
		as="font"
		type="font/woff2"
		crossorigin="anonymous"
	/>
	<link rel="icon" href="/assets/images/favicon.svg" />
</head>
